:root {
--color-pink: #F9D9EB;
--color-blue: rgb(0, 161, 198, 0.07);;
--color-gray: #F4F5F7;
--color-black: #2B292D;
--color-navyblue: #3040C4;
--color-background:  #E5E5E5;

--font-family-worksana: "font-family: 'Work Sans', sans-serif";

}